body{
  margin:0;
  padding:0;
  font-family:Arial,sans-serif;
  background:#0f172a;
  color:white;
}

header{
  background:#111827;
  padding:20px;
  text-align:center;
  border-bottom:1px solid #334155;
}

main{
  padding:20px;
}

h1,h2,h3{
  margin-top:0;
}

.card{
  background:#1e293b;
  padding:15px;
  border-radius:12px;
  margin-bottom:15px;
}

button{
  width:100%;
  padding:12px;
  margin-top:10px;
  border:none;
  border-radius:10px;
  background:#22c55e;
  color:white;
  font-size:16px;
  font-weight:bold;
}

button:active{
  opacity:0.8;
}

.hidden{
  display:none;
}

.group-card{
  background:#1e293b;
  padding:15px;
  border-radius:12px;
  margin-bottom:12px;
}

.match-card{
  background:#1e293b;
  padding:15px;
  border-radius:12px;
  margin-bottom:12px;
}

.watched{
  background:#15803d;
}
